---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import InstallSection from "../components/InstallSection.astro";
import WorkflowSection from "../components/WorkflowSection.astro";
import ActionSection from "../components/ActionSection.astro";
import CommandsSection from "../components/CommandsSection.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <InstallSection />
    <WorkflowSection />
    <ActionSection />
    <CommandsSection />
  </main>
  <Footer />
</BaseLayout>
